<p>The tracking string of the pixel you're currently looking at is: "<strong><%= @pixel.tracking_string %></strong>"</p>

<p>To use the pixel, insert the following code into your webpage:<br>
<%= generate_snippet(@pixel) %></p>

<p>The requests for this pixel can be seen here:</p>