<p>The tracking string of the pixel you're currently looking at is: "<strong><%= @pixel.tracking_string %></strong>"</p>

<p>To use the pixel, insert the following code into your HTML file:<br>
<%= generate_snippet(@pixel) %></p>

<p>The requests for this pixel are as follows:</p>
<ul>
	<% @visits.each do |visit| %>
		<li><%= "IP Address: #{visit.ip_address}, Time: #{visit.created_at}" %></li>
	<% end %>
</ul>