<p>The tracking string of the pixel you've just created is: "<%= @pixel.tracking_string %>"</p>

<p>To use the pixel, insert the following code into your webpage:<br>
<%= generate_snippet(@pixel) %></p>

<p>The requests for this pixel can be seen here:</p>